{% extends 'base.html.twig' %}

{% block title %}Modifier mot de passe{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="flex justify-center items-center min-h-screen w-[100vw] bg-gris overflow-hidden">
        <div class="bg-white shadow-lg rounded-lg flex w-[45%] items-center justify-center max-w-6xl h-screen relative">
            <div class="w-[70%] flex flex-col justify-center items-center p-8 h-full">
                <h1 class="text-2xl font-bold text-bleuLune text-center mb-6 uppercase">Réinitialiser votre mot de passe</h1>
                <form method="post" class="w-[90%]">
                    <div class="flex flex-col gap-2 mb-4">
                        <label for="email" class="text-bleuLune font-semibold">Email de votre compte :</label>
                        <input type="email" name="email" id="email" 
                               class="border border-bleuGlace p-2 rounded w-full focus:outline-none focus:ring-2 focus:ring-bleuClair" 
                               autocomplete="email" required autofocus>
                    </div>
                    <button type="submit" class="bg-bleuLune text-white font-semibold px-4 py-2 rounded w-full transition duration-300 hover:bg-bleuGlace cursor-pointer">Envoyer un mail</button>
                </form>
            </div>
        </div>

        <div class="w-[55%] h-[100vh] relative flex items-center justify-center">
            <img src="{{ asset('img/register.jpg') }}" alt="Illustration de connexion"
            class="absolute inset-0 w-full h-full object-cover z-0">
            <div class="absolute inset-0 z-10 bg-gradient-to-br from-gris via-bleuGlace to-bleuLune opacity-50"></div>
        </div>
    </div>
{% endblock %}
