<footer class="p-5 w-full h-[45vh] bg-slate-900 flex justify-between flex-col">
    <div class="h-[75%]">
    </div>
    <div class="w-full border-t-2 border-white h-fit text-white">
        <div class="py-1 flex justify-center items-center gap-2.5 pt-2.5 font-bold underline">
            <a href="" class="transition transform translate-y-0 hover:translate-y-[2px]">Cookies</a>
            <a href="" class="transition transform translate-y-0 hover:translate-y-[2px]">CGU</a>
            <a href="" class="transition transform translate-y-0 hover:translate-y-[2px]">Mentions légales</a>
        </div>
        <div class="flex justify-between items-center ">
            <span>Jurassic park - Made By Group G6</span>
            <span>Version finale - Avril 2025</span>
        </div>
    </div>
</footer>