{% extends 'base.html.twig' %}

{% block title %}Edit Dinosaure{% endblock %}

{% block body %}
    <h1>Edit Dinosaure</h1>

    {{ include('dinosaure/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_dinosaure_index') }}">back to list</a>

    {{ include('dinosaure/_delete_form.html.twig') }}
{% endblock %}
