{% extends 'base.html.twig' %}

{% block title %}New Dinosaure{% endblock %}

{% block body %}
    <h1>Create new Dinosaure</h1>

    {{ include('dinosaure/_form.html.twig') }}

    <a href="{{ path('app_dinosaure_index') }}">back to list</a>
{% endblock %}
