{% extends 'base.html.twig' %}

{% block title %}New FormatBillet{% endblock %}

{% block body %}
    <h1>Create new FormatBillet</h1>

    {{ include('format_billet/_form.html.twig') }}

    <a href="{{ path('app_format_billet_index') }}">back to list</a>
{% endblock %}
