{% extends 'base.html.twig' %}

{% block title %}Les horaires{% endblock %}

{% block body %}
    {% include 'reuse/hero.html.twig' %}
    <div class="flex justify-around p-5 gap-10">
        <div class="w-[30%]">
            {% include 'reuse/dashboard-admin.html.twig' %}
        </div>
        <div class="w-[70%] mx-auto p-2">
            <div class="w-[100%] flex justify-end" onClick="ajouterData()">
                <span class="p-1.5 bg-slate-900 text-white font-bold rounded text-sm cursor-pointer">Créer un horaire</span>
            </div> 
            <h1 class="font-bold text-2xl mb-3.5 underline">Les horaires</h1>
            <div class="grid-cols-4 grid-rows-4 grid gap-7 overflow-hidden">
                {% if horaires is not empty %}
                    {% include 'horaire/_horaire_cards.html.twig' %}
                {% else %}
                    <span>Aucun horaire trouvé</span>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% include 'reuse/display/addDisplay.html.twig' %}
{% include 'reuse/display/updateDisplay.html.twig' %}
{% endblock %}

