<form method="post" action="{{ path('app_biome_delete', {'id': biome.id}) }}" onsubmit="return confirm('Veux-tu supprimer ce biome ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ biome.id) }}">
    <button class="btn">
        {% include 'svg/delete.html.twig' %}
    </button>
</form>
