{{ form_start(form, {'attr': {'id': 'form'}}) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}


<script>
    document.addEventListener("DOMContentLoaded", function() {
        const form = document.getElementById("form");
        if (form) {
            form.addEventListener("submit", function(event) {
                event.preventDefault(); // Empêche le rechargement

                let formData = new FormData(this);

                fetch(this.action, {
                    method: "POST",
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert("Data créé avec succès !");
                        location.reload();
                    } else {
                        alert("Erreur lors de la création de la data.");
                    }
                })
                .catch(error => console.error("Erreur AJAX :", error));
            });
        }
    });
</script>

