<form method="post" action="{{ path('app_chambre_delete', {'id': chambre.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ chambre.id) }}">
    <button class="rounded bg-bleuLune h-[25px] w-[25px] cursor-pointer flex items-center justify-center">
        {% include 'svg/delete-svg.html.twig' %}
    </button>
</form>
