@import "tailwindcss";

@theme {
    --color-bleuLune: #244D61;
    --color-bleuClair: #75E2FF;
    --color-bleuGlace: #5689C0;
    --color-gris:#EAEBED;
}

/* Pour WebKit (Chrome, Safari, Edge) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Pour Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}