<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="turbo-visit-control" content="reload">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{asset("img/logo.png")}}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    {% include 'reuse/header.html.twig' %}
    <body class="overflow-x-hidden">
        {% block body %}{% endblock %}
    </body>
    {% include 'reuse/footer.html.twig' %}
</html>
