<!DOCTYPE html>
<html lang="fr" class="scroll-smooth">
    <head>
        <meta charset="UTF-8">
        <meta name="turbo-visit-control" content="reload">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/logo.png') }}">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    <body class="overflow-x-hidden dark:bg-black dark:text-gray-100 transition duration-300">
        {% include 'reuse/header.html.twig' %}

        {% block body %}{% endblock %}

        {% include 'reuse/footer.html.twig' %}

        <button id="toggleTheme"
                class="cursor-pointer bottom-8 left-8 bg-bleuGlace rounded-full w-[2.5vw] h-[2.5vw] z-50 fixed flex justify-center items-center text-white transition">
        </button>
    </body>

    <script>
        const btn = document.getElementById('toggleTheme');
        const html = document.documentElement;

        const sunIcon = `
        <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" />
        </svg>
        `;

        const moonIcon = `
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z" />
        </svg>
        `;

        function updateIcon(theme) {
            btn.innerHTML = theme === 'dark' ? moonIcon : sunIcon;
        }

        if (
            localStorage.getItem('theme') === 'dark' ||
            (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)
        ) {
            html.classList.add('dark');
            updateIcon('dark');
        } else {
            html.classList.remove('dark');
            updateIcon('light');
        }

        btn.addEventListener('click', () => {
            if (html.classList.contains('dark')) {
                html.classList.remove('dark');
                localStorage.setItem('theme', 'light');
                updateIcon('light');
            } else {
                html.classList.add('dark');
                localStorage.setItem('theme', 'dark');
                updateIcon('dark');
            }
        });
    </script>
</html>
