{% extends 'base.html.twig' %}

{% block title %}Edit FormatChambre{% endblock %}

{% block body %}
    <h1>Edit FormatChambre</h1>

    {{ include('format_chambre/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_format_chambre_index') }}">back to list</a>

    {{ include('format_chambre/_delete_form.html.twig') }}
{% endblock %}
